.wrap1 {
  position: fixed;
  overflow: hidden;
  display: block;
  top: 36%;
  right: 5%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
}
.wrap1 .content1 {
  opacity: 0;
}
.wrap1:before {
  position: fixed;
  width: 1px;
  height: 1px;
  background: red;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap1.active {
  display: block;
  visibility: visible;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}
.wrap1.active:before {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap1.active .content1 {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
